@import "fonts";


// Fonts
$font-main: 'Raleway-Regular';
$font-main-bold: 'Raleway-Bold';
$font-accent: 'PlayfairDisplay-Bold';
$font-secondary: 'Roboto-Light';



// Colors
$dark: #242B33;
$accent: #D4C17F;
$white: #FFF;
$footer-bg: #2D343C;
$placeholder: #bebebe;
$muted: #e7e7e7;


// Media
$tablet: 959px;

